nav.NavigationBar
  a(class="Logo", href="#1")
    img(
      src='assets/images/byldan-logo.png',
      alt='byldan'
      class='Logo-item'
    )
    | byldan
  div.NavigationBar-content
    a(class="NavLink", href="#2") 
      span.NavLink-holder data visualization
    a(class="NavLink", href="#3")
      span.NavLink-holder illustration
    a(class="NavLink", href="#4")
      span.NavLink-holder contact
