nav.NavigationBar
  a(class="Logo", href="#1")
    img(
      src='assets/images/byldan-logo.png',
      alt='byldan'
      class='Logo-item'
    )
    | byldan
  div
    a(class="NavLink", href="#2") about
    a(class="NavLink", href="#3") services
    a(class="NavLink", href="#4") contact
