nav.NavigationBar
  a.Logo
    img(
      src='assets/images/byldan-logo.png',
      alt='byldan'
      class='Logo-item'
    )
    | byldan
  div
    a.NavLink about
    a.NavLink services
    a.NavLink contact
