nav.NavigationBar
  a(class="Logo NavLink", href="#1")
    span.NavLink-holder Aaron Moradi
  div.NavigationBar-content
    a(class="NavLink", href="#2") 
      span.NavLink-holder Data Visualization
    a(class="NavLink", href="#3")
      span.NavLink-holder Illustration
    a(class="NavLink", href="#4")
      span.NavLink-holder Contact
