body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  background: $true-blue;
  color: $white;
  padding: 2rem;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top right, $blue 0%, $true-blue 100%);
  /* animation: colorRush 3s 5s forwards; */
}

@keyframes colorRush {
  0% { background: $true-blue; }
  100% { background: linear-gradient(to top right, $blue 0%, $true-blue 100%); }
}
