.Logo {
  font-family: $alternative-font-family;
  color: $white; 
  display: flex;
  align-items: center;
  letter-spacing: 0;
  text-decoration: none;
  opacity: 0;
  animation: fadein .6s 1.25s forwards;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &:link, 
  &:visited, 
  &:hover,
  &:active {
    color: $white;
  }

  &-item {
    padding-right: 0.5rem;
  } 
}
