.SlideCount {
  position: fixed;
  left: 4rem;
  bottom: 2.75rem;
  color: $white;
  font-size: $smaller-font-size;
  z-index: 2;
  opacity: 0;
  animation: fadein .6s 4.25s forwards;

  .fp-viewing-4 & {
    color: $almost-black;
  }
}
