doctype
html(lang="en")
  include ../partials/head
  body
    canvas#Confetti
    div.PageWrapper
      include ../partials/navigation_bar
      
      div(id="fullpage")
        div(class='Slide Slide--home section')
          include ../../assets/images/byldan-handwritten_animated.svg
          div.Slide-body
            span.Slide-bodyContent
        div.section
          | stage 2
        div.section
          | stage 3
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='../assets/scripts/jquery.easings.min.js')
    script(src='../assets/scripts/scrolloverflow.min.js')
    script(src='../assets/scripts/jquery.fullPage.js')

    script(src='../assets/scripts/typed.min.js')
    script(src='../assets/scripts/confetti.min.js')
    script(src='../assets/scripts/main.js')

    script.
      $(document).ready(function() {
        $('#fullpage').fullpage();
      });