doctype
html(lang="en")
  include ../partials/head
  body
    canvas#Confetti
    div.PageWrapper
      include ../partials/navigation_bar
      div.SlideCount
        | 1 / 5
      div.MouseIcon
        include ../../assets/images/mouse.svg
      div(id="fullpage")
        div(class="section Slide")
          div.Slide-intro
            p.u-red.u-large-font
              | we deliver dynomite design #[br] to communicate fact, fiction and fancy
            p.u-pink
              | for artistics, educationalists, gastronomes,
              | #[br] capitalists, melody makers, happenings & others
            p #[br]#[br] created circa 2018, by aaron moradi
        div(class="section Slide")
          | stage 2
        div(class="section Slide")
          | stage 3
        div(class="section Slide")
          | contact
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='../assets/scripts/jquery.easings.min.js')
    script(src='../assets/scripts/scrolloverflow.min.js')
    script(src='../assets/scripts/jquery.fullPage.js')

    script(src='../assets/scripts/typed.min.js')
    script(src='../assets/scripts/confetti.min.js')
    script(src='../assets/scripts/main.js')

    script.
      $(document).ready(function() {
        $('#fullpage').fullpage({
          anchors:['1', '2', '3', '4', '5'],
          navigation: true,
          onLeave: function(index, nextIndex) {
            if(index === 1) {
              $('body').addClass('has-left-1').removeClass('enter-1');
            }

            if(nextIndex === 1) {
              $('body').removeClass('has-left-1').addClass('enter-1');
            }

            $('.SlideCount').html(nextIndex + ' / 4');
          }
        });
      });



