$white: #fff;
$black: #000;
$almost-black: #111;
$blue: #1b1464;
$true-blue: rgb(21, 3, 175);
$turquoise: #00ffff;
$red: #ff0000;
$dark-red: #cc0303;
$pink: #ff7bac;
$dark-purple: #2d0167;
$purple: #4601a5;
$bright-burgundy: #962e4d;
$dark-burgundy: #52051c;
