$white: #fff;
$black: #000;
$almost-black: #111;
$blue: #1b1464;
$true-blue: rgb(21, 3, 175);
$turquoise: #00ffff;
$red: #ff0000;
$dark-red: #cc0303;
$pink: #ff7bac;
$dark-purple: #21004c;
$purple: #4601a5;
