.Slide {
  text-align: center;  

  &-intro p:first-child {
    opacity: 0;
    animation: fadeIn 0.6s 0.25s forwards;
  }

  &-intro p:nth-child(2),
  &-intro p:nth-child(3) {
    opacity: 0;
    animation: fadeIn 0.6s 1.75s forwards;
  }

}

@import "./home";
@import "./data_visualization";
@import "./illustration";
@import "./about";
@import "./contact";
