.Slide[data-anchor="1"] {

}

.Slide--home {
  text-align: center;
  font-size: $medium-font-size;
  height: calc(100vh - 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;

  svg {
    margin-top: 0;
    max-width: 600px;
    max-height: 400px;
    min-height: 200px;
    width: 100%;
  }

  & .Slide-body {
    color: $pink;
  }

  & .Slide-emphasis {
    color: $red;
  }
}
